<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

# data science tools and ecosystem

In [4]:
"In this notebook, Data Science Tools and Ecosystem are summarized"

'In this notebook, Data Science Tools and Ecosystem are summarized'

"1. python"
"2. java"
"3. C"
"4. C++"

#### Some of the commonly used libraries used by Data Scientists include

"1. pandas"
"2. Scikit-learn"
"3. NumPy"

##### data science tools
1. Jupyter Notebook
2. RStudio
3. Visual Studio Code

### Below are a few examples of evaluating arithmetic expressions in Python

##### This a simple arithmetic expression to mutiply then add integers

In [16]:
(3*4)+5

17

##### This will convert 200 minutes to hours by diving by 60

200/60

***Objectives***

* Python
* R
* SQL 
* Julia

## Author

Robert